.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.Countdown-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Countdown-wraper {
    margin-top: 15px;
    width: 30em;
    margin-inline: auto;
    background-color: #819c72;
    padding: 20px;
    border-radius: 10px;
}

.Countdown-timer {
    margin-block: 10px 20px;
    font-size: 7em;
    font-weight: 600;
}

.Additional-Information {
    text-align: left;
    font-size: 1.2em;
    font-weight: 600;
}

.Countdown-location {
    padding-bottom: 10px;
}

.Countdown-search-wrapper input {
    font-size: 1.3em;
    margin-bottom: 5px;
    border: none;
    padding-block: 10px;
}

.Search-input {
    background-color: #DFE6DA;
    color: #63755a;
    border-radius: 20px 0 0 20px;
    padding-inline: 15px;
    width: 15em;
}

.Search-button {
    background-color: #819c72;
    color: #DFE6DA;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    padding-inline: 30px;
}

.Search-button:hover {
    background-color: #5a6356;
    color: #d3d8d0;
}

.Countdown-command {
    font-size: 2em;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 25px;
}

svg {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}