.Countdown-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-inline: auto;
}

.Countdown-wraper {
    margin-top: 24px;
    width: 50%;
    margin-inline: auto;
}

.Countdown-timer {
    margin-block: 20px;
    font-size: 4em;
}

.Additional-Information {
    text-align: left;
}