.Countdown-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.Countdown-wraper {
    margin-top: 24px;
}

.Countdown-timer {
    margin-block: 20px;
    font-size: 3em;
}